.header {
  position: fixed;
  height: 90px;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  box-sizing: content-box;
}
.header .header-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}
.header-right {
  display: flex;
  width: 50%;
  gap: 50px;
  color: var(--primary-color);
  height: 100%;
}
.header-right .brandName {
  display: flex;
  align-items: center;
  font-style: italic;
  align-self: center;
}
.header-right .nav-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.header-right .nav-container .nav-list {
  display: flex;
  gap: 30px;
}
.header-right .nav-container .nav-list .nav-item {
  font-weight: 500;
  font-size: 16px;
}
.header-right .nav-container .nav-list .nav-item a {
  font-family: "Inter-Semibold";
  color: #1d364d;
  height: 55px;
  display: block;
}
.header-right .nav-container .nav-list .nav-item a:hover {
  color: black;
}
.header-left {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: center;
  height: 50px;
}
.header-left .header-noti {
  display: flex;
  gap: 12px;
}
.header-left .header-noti .noti {
  height: 50px;
  width: 50px;
  background: #f5f1ee;
  border-radius: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-left .header-noti .noti .status-noti {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #d75951;
}
.header-left .header-noti .noti .number-noti {
  top: 3px;
  right: 2px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left .header-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.header-left .header-profile .infor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-left .header-profile .infor .slogan {
  color: var(--text-item-secondary);
  margin-bottom: 7px;
}
.header-left .header-profile .infor .name {
  color: var(--primary-color);
  font-weight: 600;
}

.info-detail {
  margin-top: 125px;
  display: flex;
  gap: 100px;
  margin-bottom: 160px;
}
.info-detail .images {
  width: 585px;
}
.info-detail .images .images-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 37px;
}
.info-detail .info {
  flex: auto;
}
.info-detail .info .breakcrum {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  height: 33px;
  display: flex;
  align-items: center;
  background-color: #edf0f8;
  display: flex;
  color: var(--text-item-secondary);
  font-size: 14px;
  padding: 10px;
  display: flex;
  gap: 15px;
}
.info-detail .info .breakcrum li .breakcrum-item {
  color: #a3a9c2;
  display: flex;
  gap: 15px;
  align-items: center;
}
.info-detail .info .breakcrum li img {
  height: 11px;
}
.info-detail .info .breakcrum li .active {
  font-weight: 600;
  color: var(--primary-color);
}
.info-detail .info .container-name {
  margin-top: 30px;
}
.info-detail .info .container-name .container-name-top {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  align-items: flex-start;
  padding-bottom: 30px;
  justify-content: space-between;
}
.info-detail .info .container-name .container-name-top .name .name-bottom {
  color: var(--text-item-secondary);
}
.info-detail .info .container-name .container-name-top .name h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 12px;
}
.info-detail .info .container-name .container-name-top .container-react {
  display: flex;
  gap: 12px;
}
.info-detail .info .container-name .container-name-top .container-react .heart {
  display: flex;
  align-items: center;
  background-color: #fff0f0;
  padding: 5px 10px;
  border-radius: 7px;
  color: #d75951;
  gap: 5px;
}
.info-detail .info .container-name .container-name-top .container-react .save {
  background-color: #edf0f8;
  width: 34px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-detail .info .container-name .container-name-top .container-react .share {
  background-color: #edf0f8;
  width: 34px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-detail .info .container-price-rating {
  display: flex;
  gap: 100px;
  padding: 30px 0;
  border-bottom: 1px solid #e4e4e4;
}
.info-detail .info .container-price-rating .rate-star {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.info-detail .info .container-price-rating .rate-star .star-review {
  display: flex;
  gap: 10px;
  height: 41px;
  font-weight: bold;
}
.info-detail .info .container-price-rating .rate-star .star-review img {
  height: 18px;
}
.info-detail .info .container-price-rating .rate-star .star-review .star {
  background-color: #fbf3ea;
  color: #d48d3b;
  padding: 0 10px;
  border-radius: 27px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}
.info-detail .info .container-price-rating .rate-star .star-review .review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 27px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  background-color: #edf0f8;
  color: var(--primary-color);
}
.info-detail .info .container-price-rating .rate-star .rate {
  color: var(--text-item-secondary);
}
.info-detail .info .container-price-rating .rate-star .rate span {
  color: #3e9242;
  font-weight: 500;
}
.info-detail .info .container-price-rating .container-price {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.info-detail .info .container-price-rating .container-price .price-new {
  display: block;
  font-weight: 700;
  font-size: 34px;
  color: var(--primary-color);
}
.info-detail .info .container-price-rating .container-price .price-odd {
  display: block;
  font-size: 20px;
  color: var(--text-item-secondary);
  text-decoration: line-through;
}
.info-detail .info .container-color {
  padding: 30px 0;
  border-bottom: 1px solid #e4e4e4;
}
.info-detail .info .container-color span {
  color: var(--text-item-secondary);
  font-weight: normal;
}
.info-detail .info .container-color .list-color {
  display: flex;
  gap: 10px;
  margin-top: 13px;
}
.info-detail .info .container-color .list-color .color-outside {
  height: 54px;
  width: 54px;
  border-radius: 100%;
  position: relative;
  border: 3px solid #bbc1f8;
}
.info-detail .info .container-color .list-color .color-outside .color {
  background-color: #bbc1f8;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20px, -20px);
  border-radius: 100%;
}
.info-detail .info .container-color .list-color .color-outside .color .active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-detail .info .container-color .list-color .color2 {
  background-color: #bbd278;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.info-detail .info .container-size {
  padding: 30px 0;
  border-bottom: 1px solid #e4e4e4;
}
.info-detail .info .container-size span {
  color: var(--text-item-secondary);
  font-weight: normal;
}
.info-detail .info .container-size .list-size {
  display: flex;
  margin-top: 13px;
  gap: 15px;
  height: 30px;
  color: #726c6c;
}
.info-detail .info .container-size .list-size li {
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 120px;
  padding-left: 40px;
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.info-detail .info .container-size .list-size li label {
  font-family: "Inter-Semibold";
}
.info-detail .info .container-size .list-size li input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.info-detail .info .container-size .list-size li .checkmark {
  position: absolute;
  top: 50%;
  left: 8px;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgba(107, 107, 107, 0.6901960784);
  transform: translateY(-50%);
}
.info-detail .info .container-size .list-size li input:checked ~ .checkmark {
  background-color: #fff;
}
.info-detail .info .container-size .list-size li .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.info-detail .info .container-size .list-size li input:checked ~ .checkmark:after {
  display: block;
}
.info-detail .info .container-size .list-size li .checkmark:after {
  top: 50%;
  left: 50%;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color);
}
.info-detail .info .container-size .list-size li .active {
  color: var(--primary-color);
}
.info-detail .info .container-number-button {
  display: flex;
  height: 60px;
  margin-top: 30px;
  gap: 20px;
}
.info-detail .info .container-number-button .btnAmount {
  font-weight: bolder;
  position: relative;
}
.info-detail .info .container-number-button .btnAmount button {
  position: absolute;
  width: 60px;
  height: 100%;
  border-radius: 100%;
  font-weight: bolder;
  font-size: 20px;
}
.info-detail .info .container-number-button .btnAmount .number {
  width: 180px;
  height: 100%;
  border-radius: 40px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-detail .info .container-number-button .btnAmount .btnAdd {
  top: 0;
  left: 120px;
}
.info-detail .info .container-number-button .btnAddToCart {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px;
  width: 300px;
  font-size: 18px;
  color: white;
  border-radius: 40px;
  background-color: #3a4980;
}
.info-detail .info .container-voucher {
  margin-top: 30px;
  border: 1px solid #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}
.info-detail .info .container-voucher .voucher {
  display: flex;
  padding: 16px;
  gap: 16px;
}
.info-detail .info .container-voucher .voucher .voucher-info p {
  font-weight: bold;
  margin-bottom: 7px;
}
.info-detail .info .container-voucher .voucher .voucher-info u {
  color: var(--text-item-secondary);
}
.info-detail .info .container-voucher .voucher:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

.content-tab {
  display: flex;
  flex-direction: column;
}
.content-tab .nav-description-reviews {
  margin-bottom: 50px;
}
.content-tab .nav-description-reviews .list {
  display: flex;
  border-bottom: 4px solid #eaecf0;
}
.content-tab .nav-description-reviews .list .item {
  padding: 20px;
  padding-bottom: 13px;
  font-size: 19px;
  color: var(--text-item-secondary);
  position: relative;
}
.content-tab .nav-description-reviews .list .item .active::after {
  position: absolute;
  width: 100%;
  bottom: -4px;
  content: "";
  height: 4px;
  left: 0;
  background-color: #164c96;
}
.content-tab .nav-description-reviews .list .item .active {
  font-weight: bold;
  color: #164c96;
}
.content-tab .container-reviews {
  width: 850px;
}
.content-tab .container-reviews h2 {
  font-family: "ProximaNova-Bold";
  margin-bottom: 30px;
  color: #1D2939;
}
.content-tab .container-reviews .container-rating-star {
  display: flex;
  gap: 10px;
}
.content-tab .container-reviews .container-rating-star .rating-star {
  border-radius: 8px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFB;
}
.content-tab .container-reviews .container-rating-star .rating-star .rate-star-points {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rating-star .rate-star-points .description {
  color: #4F547B;
  line-height: 26px;
  margin-top: 15px;
}
.content-tab .container-reviews .container-rating-star .rating-star .rate-star-points .point {
  margin-bottom: 6px;
  color: #164C96;
  font-size: 60px;
  line-height: 72px;
  font-family: "Inter-Bold";
}
.content-tab .container-reviews .container-rating-star .rate-star-chart {
  border-radius: 8px;
  width: 550px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #F9FAFB;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item {
  display: flex;
  display: flex;
  height: 16px;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item .bar {
  width: 345px;
  height: 5px;
  margin-right: 14px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(230, 234, 238, 0.6980392157);
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item .bar .bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #20590C;
  height: 5px;
  border-radius: 4px;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item .percent {
  margin-left: 17px;
  color: #164C96;
  float: right;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-2 {
  display: flex;
  display: flex;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-2 .bar {
  width: 345px;
  height: 5px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(230, 234, 238, 0.6980392157);
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-2 .bar .bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  background-color: #20590C;
  height: 5px;
  border-radius: 4px;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-2 .percent {
  margin-left: 17px;
  color: #164C96;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-3 {
  display: flex;
  display: flex;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-3 .bar {
  width: 345px;
  height: 5px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(230, 234, 238, 0.6980392157);
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-3 .bar .bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background-color: #20590C;
  height: 5px;
  border-radius: 4px;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-3 .percent {
  margin-left: 17px;
  color: #164C96;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-4 {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-4 .bar {
  width: 345px;
  height: 5px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(230, 234, 238, 0.6980392157);
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-4 .bar .bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background-color: #20590C;
  height: 5px;
  border-radius: 4px;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-4 .percent {
  margin-left: 17px;
  color: #164C96;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-5 {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-5 .bar {
  width: 345px;
  height: 5px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(230, 234, 238, 0.6980392157);
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-5 .bar .bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #20590C;
  height: 5px;
  border-radius: 4px;
}
.content-tab .container-reviews .container-rating-star .rate-star-chart-item-5 .percent {
  margin-left: 17px;
  color: #164C96;
}
.content-tab .container-reviews .container-reviews-comments {
  margin-top: 50px;
  margin-bottom: 72px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item {
  display: flex;
  gap: 25px;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  padding: 44px 0;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .avatar {
  align-self: flex-start;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .infor-user {
  margin-bottom: 5px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .infor-user strong {
  color: #1D2939;
  font-size: 17px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .infor-user span {
  font-size: 13px;
  color: #4F547B;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .content-review {
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 28px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .content-review .short-review {
  margin-bottom: 9px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .content-review .detail-review {
  color: #667085;
  line-height: 26px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .react {
  display: flex;
  gap: 18px;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .react button {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 13px;
  color: #667085;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .react button span {
  font-family: "Inter-Regular";
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item .infor-review .react .btn-replay {
  color: #D94A27;
}
.content-tab .container-reviews .container-reviews-comments .container-reviews .container-reviews-item:last-child {
  border-bottom: 0;
}
.content-tab .container-reviews .container-reviews-comments .view-all {
  display: flex;
  justify-content: center;
}
.content-tab .container-reviews .container-reviews-comments .view-all button {
  color: #D94A27;
  text-decoration: underline;
}
.content-tab .container-reviews .container-reviews-comments .container-comment img {
  height: 14px;
  margin-top: 9px;
  margin-bottom: 14px;
}
.content-tab .container-reviews .container-reviews-comments .container-comment div {
  color: #1D2939;
  font-family: "Inter-Medium";
}
.content-tab .container-reviews .container-reviews-comments .container-comment .input-title, .content-tab .container-reviews .container-reviews-comments .container-comment .input-detail {
  margin-bottom: 30px;
}
.content-tab .container-reviews .container-reviews-comments .container-comment .input-title label, .content-tab .container-reviews .container-reviews-comments .container-comment .input-detail label {
  color: #1D2939;
  font-family: "Inter-Medium";
  margin-bottom: 9px;
}
.content-tab .container-reviews .container-reviews-comments .container-comment input, .content-tab .container-reviews .container-reviews-comments .container-comment textarea {
  color: #667085;
  margin-top: 10px;
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid #DDDDDD;
}
.content-tab .container-reviews .container-reviews-comments .container-comment input {
  height: 55px;
}
.content-tab .container-reviews .container-reviews-comments .container-comment textarea {
  height: 250px;
}
.content-tab .container-reviews .container-reviews-comments .container-comment .submit-review {
  margin-top: 30px;
  background-color: #3A4980;
  border-radius: 47px;
  height: 60px;
  width: 185px;
  color: white;
  font-size: 18px;
  font-family: "Inter-Medium";
}

.container-products h2 {
  margin-bottom: 27px;
}
.container-products .list-products {
  gap: 16px;
  position: relative;
}
.container-products .list-products .btnControll {
  border: 1px solid #dedede;
  background: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.container-products .list-products .back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container-products .list-products .next {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
.container-products .list-products .product {
  width: 200px;
  position: relative;
}
.container-products .list-products .product .btn-like {
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  background: #fcfcfd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-products .list-products .product .btn-like:hover {
  background-color: #f4f4f4;
}
.container-products .list-products .product .image-product {
  background-color: #f7f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 159px;
  width: 100%;
  padding: 15px;
}
.container-products .list-products .product .image-product img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.container-products .list-products .product .product-info {
  padding: 15px;
  border: 1px solid #f7f5f7;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.container-products .list-products .product .product-info .product-info-top {
  display: flex;
  justify-content: space-between;
}
.container-products .list-products .product .product-info .product-info-top .product-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-gray);
  line-height: 22px;
}
.container-products .list-products .product .product-info .product-info-top .product-price {
  font-weight: bold;
}
.container-products .list-products .product .product-info .amount {
  font-size: 14px;
  color: var(--text-item-secondary);
}
.container-products .list-products .product .product-info .rating {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: var(--text-item-secondary);
}
.container-products .list-products .product .product-info .btn-group {
  display: flex;
  justify-content: space-between;
  font-family: "Inter-Bold";
}
.container-products .list-products .product .product-info .btn-group .btn-add-to-cart {
  width: 120px;
  height: 36px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  background-color: var(--color-text-banner);
}
.container-products .list-products .product .product-info .btn-group .btn-add-to-list {
  width: 120px;
  height: 36px;
  border-radius: 50px;
  color: #344054;
  font-size: 14px;
  border: 1px solid #d0d5dd;
}

.footer {
  height: 500px;
  background-color: gray;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}/*# sourceMappingURL=reviewPage.css.map */