body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  height: 90px;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  box-sizing: content-box;
}
.header .header-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}
.header-right {
  display: flex;
  width: 50%;
  gap: 50px;
  color: var(--primary-color);
  height: 100%;
}
.header-right .brandName {
  display: flex;
  align-items: center;
  font-style: italic;
  align-self: center;
}
.header-right .nav-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.header-right .nav-container .nav-list {
  display: flex;
  gap: 30px;
}
.header-right .nav-container .nav-list .nav-item {
  font-weight: 500;
  font-size: 16px;
}
.header-right .nav-container .nav-list .nav-item a {
  font-family: "Inter-Semibold";
  color: #1d364d;
  height: 55px;
  display: block;
}
.header-right .nav-container .nav-list .nav-item a:hover {
  color: black;
}
.header-left {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: center;
  height: 50px;
}
.header-left .header-noti {
  display: flex;
  gap: 12px;
}
.header-left .header-noti .noti {
  height: 50px;
  width: 50px;
  background: #f5f1ee;
  border-radius: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-left .header-noti .noti .status-noti {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #d75951;
}
.header-left .header-noti .noti .number-noti {
  top: 3px;
  right: 2px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left .header-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.header-left .header-profile .infor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-left .header-profile .infor .slogan {
  color: var(--text-item-secondary);
  margin-bottom: 7px;
}
.header-left .header-profile .infor .name {
  color: var(--primary-color);
  font-weight: 600;
}

.banner {
  margin-top: 125px;
  position: relative;
  background-image: linear-gradient(to bottom, #f4e8f3 100%, #f3eff6 100%);
  height: 287px;
  width: 100%;
  max-width: 1440px;
}
.banner .text-banner {
  position: absolute;
  left: 55px;
  top: 63px;
  font-size: 34px;
  font-family: "Inter-ExtraBold";
  line-height: 41px;
  color: var(--color-text-banner);
  width: 370px;
}
.banner button {
  position: absolute;
  left: 55px;
  top: 189px;
  width: 136px;
  height: 49px;
  gap: 0px;
  border-radius: 29.5px;
  opacity: 0px;
  color: white;
  font-size: 19px;
  background-color: var(--color-text-banner);
}
.banner img {
  position: absolute;
  bottom: 0;
  right: 55px;
}

.layout-sidebar {
  display: flex;
  margin-top: 50px;
}
.layout-sidebar .filter {
  width: 305px;
}
.layout-sidebar .filter .header-filter {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.layout-sidebar .filter .header-filter button {
  font-family: "Inter-Regular";
  font-size: 14px;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  padding: 10px 20px;
}
.layout-sidebar .filter .fields-filter {
  border: 1px solid #f3f3f3;
  border-radius: 7px;
  padding: 17px;
}
.layout-sidebar .filter .fields-filter .field {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
}
.layout-sidebar .filter .fields-filter .field:last-child {
  margin-bottom: 0px;
}
.layout-sidebar .filter .fields-filter .field .container-input-range {
  position: relative;
}
.layout-sidebar .filter .fields-filter .field .container-input-range .bar-value {
  position: absolute;
  height: 5px;
  width: 100px;
  background-color: #3A4980;
  left: 0;
  top: 10px;
}
.layout-sidebar .filter .fields-filter .field input[type=range] {
  width: 100%;
}
.layout-sidebar .filter .fields-filter .field input[type=number] {
  color: #667085;
  margin-top: 10px;
  outline: none;
  padding: 15px 14px;
  width: 100px;
  border-radius: 14px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.layout-sidebar .filter .fields-filter .field .name-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.layout-sidebar .filter .fields-filter .field .input-number {
  display: flex;
  gap: 15px;
}
.layout-sidebar .filter .fields-filter .field .option-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-bottom: 30px;
}
.layout-sidebar .filter .fields-filter .field .option-field .option {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label {
  display: flex;
  align-items: center;
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label input[type=radio] {
  position: absolute;
  opacity: 0;
  left: -10px;
  cursor: pointer;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label .checkmark {
  position: absolute;
  top: 50%;
  left: -10px;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgba(107, 107, 107, 0.6901960784);
  transform: translateY(-50%);
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label input:checked ~ .checkmark {
  background-color: #fff;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .checkbox-label .checkmark:after {
  top: 50%;
  left: 50%;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color);
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom .checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #6a7a99;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom .checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom input:checked ~ .checkmark-radio {
  background-color: #1a064f;
  border: 1px solid #1A064F;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom input:checked ~ .checkmark-radio:after {
  display: block;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .container-checkbox-custom .checkmark-radio:after {
  left: 4px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  position: relative;
  align-items: flex-start;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .numberItem {
  color: #4F547B;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label label {
  color: #140342;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label input[type=radio] {
  position: absolute;
  opacity: 0;
  left: 0px;
  z-index: 3;
  cursor: pointer;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label .checkmark {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #6a7a99;
  transform: translateY(-50%);
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #1a064f;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .checkbox-label .checkmark:after {
  top: 50%;
  left: 50%;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color);
}
.layout-sidebar .filter .fields-filter .field .option-field .option-radio .number {
  color: #4f547b;
}
.layout-sidebar .filter .fields-filter .field .option-field .option .numberItem {
  color: #4F547B;
}
.layout-sidebar .filter .fields-filter .field .option-field .option label {
  font-family: "Inter-Medium";
  color: #1A064F;
}
.layout-sidebar .filter .fields-filter .field .option-field button {
  margin-top: 5px;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
  color: #6440fb;
  padding-left: 0;
}
.layout-sidebar .filter .fields-filter .field .option-field button:hover {
  background-color: transparent;
}
.layout-sidebar .filter .fields-filter .field .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.layout-sidebar .filter .fields-filter .field .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 15px;
  background: url("../icon/radius-checked.svg");
  cursor: pointer;
}
.layout-sidebar .filter .fields-filter .field .slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.layout-sidebar .container-list-product {
  width: 955px;
  margin-left: 20px;
}
.layout-sidebar .container-list-product .total-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 23px;
  color: #0d3356;
}
.layout-sidebar .container-list-product .total-sort .sort {
  background-color: white;
  border: 1px solid #E0E0E0;
}
.layout-sidebar .container-list-product .list-product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.layout-sidebar .container-list-product .list-product .product {
  width: 305px;
  position: relative;
}
.layout-sidebar .container-list-product .list-product .product .btn-like {
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  background: #fcfcfd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-sidebar .container-list-product .list-product .product .btn-like:hover {
  background-color: #f4f4f4;
}
.layout-sidebar .container-list-product .list-product .product .image-product {
  background-color: #f7f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 245px;
  width: 100%;
  padding: 15px;
}
.layout-sidebar .container-list-product .list-product .product .image-product img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.layout-sidebar .container-list-product .list-product .product .product-info {
  padding: 25px;
  border: 1px solid #f7f5f7;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.layout-sidebar .container-list-product .list-product .product .product-info .product-info-top {
  display: flex;
  justify-content: space-between;
}
.layout-sidebar .container-list-product .list-product .product .product-info .product-info-top .product-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-gray);
  line-height: 22px;
}
.layout-sidebar .container-list-product .list-product .product .product-info .product-info-top .product-price {
  font-weight: bold;
}
.layout-sidebar .container-list-product .list-product .product .product-info .amount {
  font-size: 14px;
  color: var(--text-item-secondary);
}
.layout-sidebar .container-list-product .list-product .product .product-info .rating {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: var(--text-item-secondary);
}
.layout-sidebar .container-list-product .list-product .product .product-info .btn-group {
  display: flex;
  justify-content: space-between;
  font-family: "Inter-Bold";
}
.layout-sidebar .container-list-product .list-product .product .product-info .btn-group .btn-add-to-cart {
  width: 120px;
  height: 36px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  background-color: var(--color-text-banner);
}
.layout-sidebar .container-list-product .list-product .product .product-info .btn-group .btn-add-to-list {
  width: 120px;
  height: 36px;
  border-radius: 50px;
  color: #344054;
  font-size: 14px;
  border: 1px solid #d0d5dd;
}
.layout-sidebar .container-list-product .container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 74px;
  margin-bottom: 50px;
}
.layout-sidebar .container-list-product .container-pagination .pagination button {
  border: 1px solid #ededed;
  background-color: #fff;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 5px;
  color: var(--color-text-gray);
}
.layout-sidebar .container-list-product .container-pagination .pagination .active-pagination {
  background-color: #ededed;
  color: black;
}

.footer {
  height: 500px;
  background-color: gray;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}/*# sourceMappingURL=listProductHasSidebar.css.map */