body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    height: 90px;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-sizing: content-box;

    .header-container {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
    }

    &-right {
        display: flex;
        width: 50%;
        gap: 50px;
        color: var(--primary-color);
        height: 100%;

        .brandName {
            display: flex;
            align-items: center;
            font-style: italic;
            align-self: center;

        }

        .nav-container {
            align-self: flex-end;
            display: flex;
            align-items: center;

            .nav-list {
                display: flex;
                gap: 30px;

                .nav-item {
                    font-weight: 500;

                    font-size: 16px;

                    a {
                        font-family: "Inter-Semibold";
                        color: #1d364d;
                        height: 55px;
                        display: block;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    &-left {
        width: 25%;
        display: flex;
        align-items: center;
        gap: 12px;
        align-self: center;
        height: 50px;

        .header-noti {
            display: flex;
            gap: 12px;

            .noti {
                height: 50px;
                width: 50px;
                background: #f5f1ee;
                border-radius: 100%;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                .status-noti {
                    top: 5px;
                    right: 5px;
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 100%;
                    background-color: #d75951;
                }

                .number-noti {
                    top: 3px;
                    right: 2px;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background-color: var(--primary-color);
                    color: white;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .header-profile {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;

            .infor {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .slogan {
                    color: var(--text-item-secondary);
                    margin-bottom: 7px;
                }

                .name {
                    color: var(--primary-color);
                    font-weight: 600;
                }
            }
        }
    }
}

.banner {
    margin-top: 125px;
    position: relative;
    background-image: linear-gradient(to bottom, #f4e8f3 100%, #f3eff6 100%);
    height: 287px;
    width: 100%;
    max-width: 1440px;

    .text-banner {
        position: absolute;
        left: 55px;
        top: 63px;
        font-size: 34px;
        font-family: "Inter-ExtraBold";
        line-height: 41px;
        color: var(--color-text-banner);
        width: 370px;
    }

    button {
        position: absolute;
        left: 55px;
        top: 189px;
        width: 136px;
        height: 49px;
        gap: 0px;
        border-radius: 29.5px;
        opacity: 0px;
        color: white;
        font-size: 19px;
        background-color: var(--color-text-banner);
    }

    img {
        position: absolute;
        bottom: 0;
        right: 55px;
    }
}

.layout-sidebar {
    display: flex;
    margin-top: 50px;

    .filter {
        width: 305px;

        .header-filter {
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 23px;

            button {
                font-family: "Inter-Regular";
                font-size: 14px;
                border: 1px solid #e4e4e4;
                border-radius: 30px;
                padding: 10px 20px;
            }
        }

        .fields-filter {
            border: 1px solid #f3f3f3;
            border-radius: 7px;
            padding: 17px;

            .field {
                border-bottom: 1px solid #dddddd;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0px;
                }

                .container-input-range {
                    position: relative;

                    .bar-value {
                        position: absolute;
                        height: 5px;
                        width: 100px;
                        background-color: #3A4980;
                        left: 0;
                        top: 10px;
                    }
                }

                input[type="range"] {
                    width: 100%;
                }

                input[type="number"] {
                    color: #667085;
                    margin-top: 10px;
                    outline: none;
                    padding: 15px 14px;
                    width: 100px;
                    border-radius: 14px;
                    border: 1px solid #dddddd;
                    margin-bottom: 20px;
                }

                .name-field {
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 20px;
                }

                .input-number {
                    display: flex;
                    gap: 15px;
                }

                .option-field {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 14px;
                    padding-bottom: 30px;

                    .option {
                        gap: 10px;
                        display: flex;
                        justify-content: space-between;
                        position: relative;

                        .checkbox-label {
                            display: flex;
                            align-items: center;

                            input[type="radio"] {
                                position: absolute;
                                opacity: 0;
                                left: -10px;
                                cursor: pointer;
                            }

                            .checkmark {
                                position: absolute;
                                top: 50%;
                                left: -10px;
                                height: 16px;
                                width: 16px;
                                background-color: #eee;
                                border-radius: 50%;
                                border: 1px solid #6b6b6bb0;
                                transform: translateY(-50%);
                            }

                            & input:checked~.checkmark {
                                background-color: #fff;
                            }

                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            /* Show the indicator (dot/circle) when checked */
                            & input:checked~.checkmark:after {
                                display: block;
                            }

                            /* Style the indicator (dot/circle) */
                            & .checkmark:after {
                                top: 50%;
                                left: 50%;
                                width: 8px;
                                transform: translate(-50%, -50%);
                                height: 8px;
                                border-radius: 50%;
                                background: var(--primary-color);
                            }
                        }

                        .container-checkbox-custom {
                            display: block;
                            position: relative;
                            padding-left: 25px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            & input[type="checkbox"] {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }

                            .checkmark-radio {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 14px;
                                width: 14px;
                                border: 2px solid #6a7a99;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                            }

                            & input:checked~.checkmark-radio {
                                background-color: #1a064f;
                                border: 1px solid #1A064F;

                            }

                            & input:checked~.checkmark-radio:after {
                                display: block;
                            }

                            & .checkmark-radio:after {
                                left: 4px;
                                top: 2px;
                                width: 3px;
                                height: 5px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }

                        }

                        &-radio {
                            gap: 10px;
                            display: flex;
                            justify-content: space-between;
                            padding-left: 25px;
                            position: relative;
                            align-items: flex-start;

                            .numberItem {
                                color: #4F547B;
                            }

                            .checkbox-label {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                label {
                                    color: #140342;
                                }

                                input[type="radio"] {
                                    position: absolute;
                                    opacity: 0;
                                    left: 0px;
                                    z-index: 3;
                                    cursor: pointer;
                                }

                                .checkmark {
                                    z-index: 2;
                                    position: absolute;
                                    top: 50%;
                                    left: 0px;
                                    height: 15px;
                                    width: 15px;
                                    background-color: #eee;
                                    border-radius: 50%;
                                    border: 2px solid #6a7a99;
                                    transform: translateY(-50%);
                                }

                                & input:checked~.checkmark {
                                    background-color: #fff;
                                    border: 2px solid #1a064f;
                                }

                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }

                                /* Show the indicator (dot/circle) when checked */
                                & input:checked~.checkmark:after {
                                    display: block;
                                }

                                /* Style the indicator (dot/circle) */
                                & .checkmark:after {
                                    top: 50%;
                                    left: 50%;
                                    width: 8px;
                                    transform: translate(-50%, -50%);
                                    height: 8px;
                                    border-radius: 50%;
                                    background: var(--primary-color);
                                }
                            }

                            .number {
                                color: #4f547b;
                            }
                        }

                        .numberItem {
                            color: #4F547B;
                        }

                        label {
                            font-family: "Inter-Medium";
                            color: #1A064F
                        }
                    }

                    button {
                        margin-top: 5px;
                        width: fit-content;
                        text-decoration: underline;
                        color: #6440fb;
                        padding-left: 0;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }

                .slider {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: 0.2s;
                    transition: opacity 0.2s;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 17px;
                        height: 15px;
                        background: url("../../assets/icon/radius-checked.svg");
                        cursor: pointer;
                    }

                    &::-moz-range-thumb {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: #04aa6d;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .container-list-product {
        width: 955px;
        margin-left: 20px;

        .total-sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            margin-bottom: 23px;
            color: #0d3356;

            .sort {
                background-color: white;
                border: 1px solid #E0E0E0;
            }
        }

        .list-product {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .product {
                width: 305px;
                position: relative;

                .btn-like {
                    height: 50px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 50px;
                    background: #fcfcfd;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: #f4f4f4;
                    }

                    img {
                        // filter: invert(14%) sepia(89%) saturate(7079%) hue-rotate(1deg) brightness(117%) contrast(117%);
                    }
                }

                .image-product {
                    background-color: #f7f5f7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    height: 245px;
                    width: 100%;
                    padding: 15px;

                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                .product-info {
                    padding: 25px;
                    border: 1px solid #f7f5f7;
                    border-bottom-left-radius: 18px;
                    border-bottom-right-radius: 18px;
                    border-top: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .product-info-top {
                        display: flex;

                        justify-content: space-between;

                        .product-name {
                            font-size: 18px;
                            font-weight: 500;
                            color: var(--color-text-gray);
                            line-height: 22px;
                        }

                        .product-price {
                            font-weight: bold;
                        }
                    }

                    .amount {
                        font-size: 14px;
                        color: var(--text-item-secondary);
                    }

                    .rating {
                        margin: 10px 0;
                        display: flex;
                        gap: 10px;
                        font-size: 14px;
                        color: var(--text-item-secondary);
                    }

                    .btn-group {
                        display: flex;
                        justify-content: space-between;
                        font-family: "Inter-Bold";

                        .btn-add-to-cart {
                            width: 120px;
                            height: 36px;
                            border-radius: 50px;
                            color: white;
                            font-size: 14px;
                            background-color: var(--color-text-banner);
                        }

                        .btn-add-to-list {
                            width: 120px;
                            height: 36px;
                            border-radius: 50px;
                            color: #344054;
                            font-size: 14px;
                            border: 1px solid #d0d5dd;
                        }
                    }
                }
            }
        }

        .container-pagination {
            display: flex;
            justify-content: center;
            margin-top: 74px;
            margin-bottom: 50px;

            .pagination {
                button {
                    border: 1px solid #ededed;
                    background-color: #fff;
                    font-size: 14px;
                    padding: 12px 18px;
                    border-radius: 5px;
                    color: var(--color-text-gray);
                }

                .active-pagination {
                    background-color: #ededed;
                    color: black;
                }
            }
        }
    }
}

.footer {
    height: 500px;
    background-color: gray;
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}