:root {
    --primary-color: #0D3356; /* Định nghĩa biến màu chính */
    --text-filter: #1D364D;
    --text-item-primary: #667085;
    --text-item-secondary: #98A2B3;
    --color-text-banner : #3A4980;
    --color-gray:#454444;
    --color-blur:#718096;
    --color-title-card:#2D3748;
    --color-puper:#6B46C1;
     /* Định nghĩa biến màu phụ */
  }
  

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

p{
    margin: 0;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;

}

input{
    border: 0;
    outline: none;
}

button,select{
    outline: none;
    border: 0;
    font-weight: 600;
    background-color: transparent;
}
select{
    height: 37px;
    border-radius: 28px;
    background-color: #EBEDEC;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("./icon/Frame\ \(2\).png");
    background-repeat: no-repeat;
    background-position: calc(100% - 9px) center;
    padding-right: 35px; 
}
.container {
    width: 100%;
    max-width: 960px;
    position: relative;
    z-index: 2;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
h1 {
    font-weight: 800;
    font-size: 32.5px;
    color: red;
    line-height: 33px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
