:root {
    --primary-color: #0D3356; /* Định nghĩa biến màu chính */
    --text-filter: #1D364D;
    --text-item-primary: #667085;
    --text-item-secondary: #98A2B3;
    --color-text-banner : #3A4980;
    --color-gray:#454444;
    --color-blur:#718096;
    --color-title-card:#2D3748;
    --color-puper:#6B46C1;
     /* Định nghĩa biến màu phụ */
  }
  
  @font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('./assets/fonts/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('./assets/fonts/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('./assets/fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Thin';
    src: url('./assets/fonts/Inter-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}



* {
    font-family: "Inter-Regular";
    box-sizing: border-box;
}




p{
    margin: 0;
}

.container {
    width: 100%;
    max-width: 965px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: auto;

}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

input{
    border: 0;
    outline: none;
}

button,select{
    outline: none;
    border: 0;
    font-weight: 600;
    background-color: transparent;
}
select{
    height: 37px;
    border-radius: 28px;
    background-color: #EBEDEC;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("./icon/Frame\ \(2\).png");
    background-repeat: no-repeat;
    background-position: calc(100% - 9px) center;
    padding-right: 35px; 
}

a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

  
